<app-navbar></app-navbar>
<div class="justify-content-center mx-5 mt-5 p-4 d-flex flex-row topMargin">
  <div class="mr-5 my-4">
    <img src="../../assets/img.jpg" style="border-radius: 40%">
  </div>
  <div>
    <div class="mx-3 my-5">
      <div class="d-flex">
        <div>
      <h3>{{viewUser.name}}</h3>
      <h6>{{viewUser.email}}</h6>
        </div>
     <!-- <div *ngIf="isFollowing!='true'"><button class="btn btn-info ml-4 mt-3">Follow</button></div>-->
        <button class="btn btn-info btn-sm ml-5 mt-2" (click)="followUser()" style="height: 45px" *ngIf="!isFollowing ; else elseBlock;"><i class="fa p-1">&#xf234;&nbsp;</i>Follow</button>
        <ng-template #elseBlock>
          <button class="btn btn-info btn-sm ml-5 mt-2" (click)="unfollowUser()" style="height: 45px" ><i class="fa p-1">&#xf11a;&nbsp;</i>Unfollow</button>
        </ng-template>
      </div>
      <div class="d-flex mt-4 ml-n2">
        <div class="mx-3 "><a href="/profile" class="text-decoration-none text-dark"><b>{{this.length}}</b> No Of Posts</a></div>
        <div *ngIf="role=='admin'" class="mx-3"><a  class="text-decoration-none text-dark">Followers</a></div>
        <div *ngIf="role=='admin'" class="mx-3"><a  class="text-decoration-none text-dark">Following</a></div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center">Posts</h2>
<div *ngFor="let blog of viewBlogs" class="mb-3">
  <div *ngIf=" blog.private==false || isFollowing || this.role == 'admin'" class="bg-light p-2" style="width: 70%; margin-left: 15% ">
    <div >
    <div class="d-flex m-3 ml-5 bg-white p-3">
      <div class="my-4 ml-5">
        <div><h4>{{blog.title}}</h4></div>
        <div class="my-2">{{blog.content}}</div>
      </div>
      <div class="ml-auto my-4">
        <div *ngIf="role=='admin'" class="dropdown dropleft float-right">
          <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
            ...
          </button>
            <div *ngIf="role=='admin'" class="dropdown-menu">
              <a class="dropdown-item" (click)="editBlog(blog.postId)">Edit</a>
              <a class="dropdown-item" (click)="deleteBlog(blog.postId)">Delete</a>
          </div>
        </div>
        <div>
          <small class="text-dark"><i class="fa p-1">&#xf0ac;&nbsp;</i>{{blog.date | date: 'shortDate'}}</small>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
